{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="row">
	<div class="col-lg-12">
		<div class="box-element">
            <a  class="btn btn-outline-dark" href="{% url 'store' %}">&#x2190; Continue Shopping</a>
            <br>
            <br>
            <table class="table">
                <tr>
                    <th><h5>Items: <strong>{{order.get_cart_items}}</strong></h5></th>
                    <th><h5>Total:<strong> Rp.{{order.get_cart_total}}</strong></h5></th>
                    <th>
                        <a  style="float:right; margin:5px;" class="btn btn-success" href="{% url 'checkout' %}">Checkout</a>
                    </th>
                </tr>
            </table>
        </div>
		<br>
		<div class="box-element">
            {% for item in items %}
        <div class="cart-row">
            <div style="flex:2"><img class="row-image" src="{{item.product.imageURL}}"></div>
            <div style="flex:2"><p>{{item.product.name}}</p></div>
            <div style="flex:1"><p>Rp.{{item.product.price}}</p></div>
            <div style="flex:1">
                <p class="quantity">{{item.quantity}}</p>
                <div class="quantity">
                <img class="chg-quantity" onclick="addcart({{item.product.id}},add)" src="{% static  'images/arrow-up.png' %}">
            
                    <img class="chg-quantity" onclick="addcart({{item.product.id}},remove)" src="{% static  'images/arrow-down.png' %}">
                </div>
            </div>
            <div style="flex:1"><p>Rp.{{item.get_total}}</p></div>
        </div>
        {% endfor %}
		</div>
	</div>
{% endblock content %}