{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">
     <br>
     <center>
     {% for i in data %}
     <img src="{{i.image.url}}"width=30%>

          <form method="POST">
          {% csrf_token %}
              <div class="form-group">
               <label for="exampleFormControlInput1">Food name</label>
               <input class="form-control" type="text" value="{{i.name}}" readonly name="name" id="name">
               </div>
               
               <div class="form-group">
               <label for="exampleFormControlTextarea1">Reviewers</label>
               <input class="form-control" type="text" id="user" readonly value ="{{user}}" rows="3" name="user">
               </div>

               <div class="form-group">
               <label for="exampleFormControlInput1">Feedback</label>
               <input class="form-control" type="text"  name="feedback" id="feedback" placeholder="Please write your review not more than 200 characters">
               </div>
               <button type="submit" class="btn btn-secondary">Submit </button>
               <br><br>
          </form>
     </center>
          {% endfor %}
</div>
<tr>
<div class="container">
<table class="table">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Food</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
  {% for x in review%}
    <tr>
      <td>{{x.reviewer}}</td>
      <td>{{x.product}}</td>
      <td>{{x.review}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<br><br>
<div class="container">
<center>
<a href="{% url 'history' %}" class="btn btn-secondary">Transaction History</a>
</center>
</div>
</div>
{% endblock content %}